.card-datos-generales{
    margin-bottom: 10px;
}

.body-card-generales{
    padding: 10px;
}

.card-identificacion{
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-card-identificacion{
    padding: 10px;
}

.guardar-cliente{
    margin-right: 15px;
    margin-left: 10px;
}

.tab-creacion-cliente .ant-tabs-nav{
    padding-left: 15px;
}

.input-numerico{
    width: 100%;
}